<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
                <STATICVARIABLES>
                    {% if targetCompany %}
                    <SVCURRENTCOMPANY>{{targetCompany | escape}}</SVCURRENTCOMPANY>
                    {% endif %}
                </STATICVARIABLES>
            </REQUESTDESC>
            <REQUESTDATA>
                {% for master in masters %}
                <TALLYMESSAGE>
                    <LEDGER NAME="{{ master._name or master.name | escape }}" ACTION="Create">
                        <LANGUAGENAME.LIST>
                            <NAME.LIST>
                                <NAME>{{ master.name | escape }}</NAME>
                            </NAME.LIST>
                        </LANGUAGENAME.LIST>
                        {% if master.parent %}
                        <PARENT>{{ master.parent | escape }}</PARENT>
                        {% endif %}
                        {% if master.openingBalance != undefined %}
                        <OPENINGBALANCE>{{ master.openingBalance }}</OPENINGBALANCE>
                        {% endif %}
                        {% if master.isBillWise != undefined %}
                        <ISBILLWISEON>{{"Yes" if master.isBillWise else "No" }}</ISBILLWISEON>
                        {% if master.billCreditPeriod != undefined %}
                        <BILLCREDITPERIOD>{{ master.billCreditPeriod }} Days</BILLCREDITPERIOD>
                        {% endif %}
                        {% endif %}
                        {% if master.contactDetails %}
                        {% if master.contactDetails.contactPerson != undefined %}
                        <LEDGERCONTACT>{{ master.contactDetails.contactPerson | escape }}</LEDGERCONTACT>
                        {% endif %}
                        {% if master.contactDetails.phone != undefined %}
                        <LEDGERPHONE>{{ master.contactDetails.phone | escape }}</LEDGERPHONE>
                        {% endif %}
                        {% if master.contactDetails.mobile != undefined %}
                        <LEDGERMOBILE>{{ master.contactDetails.mobile | escape }}</LEDGERMOBILE>
                        {% endif %}
                        {% if master.contactDetails.email != undefined %}
                        <EMAIL>{{ master.contactDetails.email | escape }}</EMAIL>
                        {% endif %}
                        {% if master.contactDetails.website != undefined %}
                        <WEBSITE>{{ master.contactDetails.website | escape }}</WEBSITE>
                        {% endif %}
                        {% endif %}
                        {% if master.bankDetails %}
                        {% if master.bankDetails.accountHolderName != undefined %}
                        <BANKACCHOLDERNAME>{{ master.bankDetails.accountHolderName | escape }}</BANKACCHOLDERNAME>
                        {% endif %}
                        {% if master.bankDetails.accountNumber != undefined %}
                        <BANKDETAILS>{{ master.bankDetails.accountNumber | escape }}</BANKDETAILS>
                        {% endif %}
                        {% if master.bankDetails.ifscCode != undefined %}
                        <IFSCODE>{{ master.bankDetails.ifscCode | escape }}</IFSCODE>
                        {% endif %}
                        {% if master.bankDetails.swiftCode != undefined %}
                        <SWIFTCODE>{{ master.bankDetails.swiftCode | escape }}</SWIFTCODE>
                        {% endif %}
                        {% if master.bankDetails.bankName != undefined %}
                        <BANKNAME>{{ master.bankDetails.bankName | escape }}</BANKNAME>
                        {% endif %}
                        {% if master.bankDetails.branchName != undefined %}
                        <BRANCHNAME>{{ master.bankDetails.branchName | escape }}</BRANCHNAME>
                        {% endif %}
                        {% endif %}
                        {% if master.mailingDetails %}
                        <LEDMAILINGDETAILS.LIST>
                            <APPLICABLEFROM>{{ master.mailingDetails.applicableFrom | formatDate("yyyyMMdd") }}</APPLICABLEFROM>
                            {% if master.mailingDetails.name != undefined %}
                            <MAILINGNAME>{{ master.mailingDetails.name | escape }}</MAILINGNAME>
                            {% endif %}
                            <COUNTRY>{{ master.mailingDetails.country | escape }}</COUNTRY>
                            <STATE>{{ master.mailingDetails.state | escape }}</STATE>
                            {% if master.mailingDetails.address != undefined %}
                            <ADDRESS.LIST>
                                {% for line in master.mailingDetails.address %}
                                <ADDRESS>{{ line | escape }}</ADDRESS>
                                {% endfor %}
                            </ADDRESS.LIST>
                            {% endif %}
                            {% if master.mailingDetails.pincode != undefined %}
                            <PINCODE>{{ master.mailingDetails.pincode | escape }}</PINCODE>
                            {% endif %}
                        </LEDMAILINGDETAILS.LIST>
                        {% endif %}
                        {% if master.gstRegistrationDetails %}
                        <LEDGSTREGDETAILS.LIST>
                            <APPLICABLEFROM>{{ master.gstRegistrationDetails.applicableFrom | formatDate("yyyyMMdd") }}</APPLICABLEFROM>
                            <GSTREGISTRATIONTYPE>{{ master.gstRegistrationDetails.registrationType | escape }}</GSTREGISTRATIONTYPE>
                            {% if master.gstRegistrationDetails.placeOfSupply != undefined %}
                            <PLACEOFSUPPLY>{{ master.gstRegistrationDetails.placeOfSupply | escape }}</PLACEOFSUPPLY>
                            {% endif %}
                            <GSTIN>{{ master.gstRegistrationDetails.gstin | escape }}</GSTIN>
                        </LEDGSTREGDETAILS.LIST>
                        {% endif %}
                    </LEDGER>
                </TALLYMESSAGE>
                {% endfor %}
            </REQUESTDATA>
        </IMPORTDATA>
    </BODY>
</ENVELOPE>
