<ENVELOPE>
    <HEADER>
        <TALLYREQUEST>Import Data</TALLYREQUEST>
    </HEADER>
    <BODY>
        <IMPORTDATA>
            <REQUESTDESC>
                <REPORTNAME>All Masters</REPORTNAME>
                <STATICVARIABLES>
                    {% if targetCompany %}
                    <SVCURRENTCOMPANY>{{targetCompany | escape}}</SVCURRENTCOMPANY>
                    {% endif %}
                </STATICVARIABLES>
            </REQUESTDESC>
            <REQUESTDATA>
                {% for master in masters %}
                <TALLYMESSAGE>
                    <STOCKITEM NAME="{{ master._name or master.name | escape }}" ACTION="Create">
                        <LANGUAGENAME.LIST>
                            <NAME.LIST>
                                <NAME>{{ master.name | escape }}</NAME>
                            </NAME.LIST>
                        </LANGUAGENAME.LIST>
                        {% if master.parent %}
                        <PARENT>{{ master.parent | escape }}</PARENT>
                        {% endif %}
                        {% if master.category != undefined %}
                        <CATEGORY>{% if master.category %}{{ master.category | escape }}{% else %}&#4; Not Applicable{% endif %}</CATEGORY>
                        {% endif %}
                        {% if master.unit %}
                        <BASEUNITS>{{ master.unit | escape }}</BASEUNITS>
                        {% endif %}
                        {% if master.alternateUnit %}
                        <ADDITIONALUNITS>{{ master.alternateUnit | escape }}</ADDITIONALUNITS>
                        <CONVERSION>{{ master.conversion }}</CONVERSION>
                        {% endif %}
                        {% if master.partNo != undefined %}
                        <PARTNO>{{ master.partNo | escape }}</PARTNO>
                        {% endif %}
                        {% if master.costingMethod %}
                        <COSTINGMETHOD>{{ master.costingMethod | escape }}</COSTINGMETHOD>
                        {% endif %}
                        {% if master.openingQuantity != undefined %}
                        <OPENINGBALANCE>{{ master.openingQuantity }}{% if master.unit %} {{ master.unit | escape }}{% endif %}</OPENINGBALANCE>
                        {% if master.openingRate != undefined %}
                        <OPENINGRATE>{{ master.openingRate }}{% if master.unit %}/{{ master.unit | escape }}{% endif %}</OPENINGRATE>
                        {% endif %}
                        {% if master.openingValue != undefined %}
                        <OPENINGVALUE>{{ master.openingValue }}</OPENINGVALUE>
                        {% endif %}
                        {% endif %}
                        {% if master.gstDetails %}
                        <GSTAPPLICABLE>&#4; Applicable</GSTAPPLICABLE>
                        {% if master.gstDetails.hsnCode != undefined %}
                        <HSNCODE>{{ master.gstDetails.hsnCode | escape }}</HSNCODE>
                        {% endif %}
                        <GSTDETAILS.LIST>
                            <APPLICABLEFROM>{{ master.gstDetails.applicableFrom | formatDate("yyyyMMdd") }}</APPLICABLEFROM>
                            {% if master.gstDetails.rate == undefined %}
                            <SRCOFGSTDETAILS>As per Company/Stock Group</SRCOFGSTDETAILS>
                            {% else %}
                            <SRCOFGSTDETAILS>Specify Details Here</SRCOFGSTDETAILS>
                            {% endif %}
                            {% if master.gstDetails.hsnCode != undefined %}
                            <HSNCODE>{{ master.gstDetails.hsnCode | escape }}</HSNCODE>
                            {% endif %}
                            {% if master.gstDetails.taxability %}
                            <TAXABILITY>{{ master.gstDetails.taxability | escape }}</TAXABILITY>
                            {% endif %}
                            <STATEWISEDETAILS.LIST>
                                <STATENAME>&#4; Any</STATENAME>
                                <RATEDETAILS.LIST>
                                    <GSTRATEDUTYHEAD>CGST</GSTRATEDUTYHEAD>
                                    <GSTRATEVALUATIONTYPE>Based on Value</GSTRATEVALUATIONTYPE>
                                    {% if master.gstDetails.rate != undefined %}
                                    <GSTRATE>{{ master.gstDetails.rate / 2 }}</GSTRATE>
                                    {% endif %}
                                </RATEDETAILS.LIST>
                                <RATEDETAILS.LIST>
                                    <GSTRATEDUTYHEAD>SGST/UTGST</GSTRATEDUTYHEAD>
                                    <GSTRATEVALUATIONTYPE>Based on Value</GSTRATEVALUATIONTYPE>
                                    {% if master.gstDetails.rate != undefined %}
                                    <GSTRATE>{{ master.gstDetails.rate / 2 }}</GSTRATE>
                                    {% endif %}
                                </RATEDETAILS.LIST>
                                <RATEDETAILS.LIST>
                                    <GSTRATEDUTYHEAD>IGST</GSTRATEDUTYHEAD>
                                    <GSTRATEVALUATIONTYPE>Based on Value</GSTRATEVALUATIONTYPE>
                                    {% if master.gstDetails.rate != undefined %}
                                    <GSTRATE>{{ master.gstDetails.rate }}</GSTRATE>
                                    {% endif %}
                                </RATEDETAILS.LIST>
                                <RATEDETAILS.LIST>
                                    <GSTRATEDUTYHEAD>Cess</GSTRATEDUTYHEAD>
                                    <GSTRATEVALUATIONTYPE>&#4; Not Applicable</GSTRATEVALUATIONTYPE>
                                </RATEDETAILS.LIST>
                                <RATEDETAILS.LIST>
                                    <GSTRATEDUTYHEAD>State Cess</GSTRATEDUTYHEAD>
                                    <GSTRATEVALUATIONTYPE>Based on Value</GSTRATEVALUATIONTYPE>
                                </RATEDETAILS.LIST>
                            </STATEWISEDETAILS.LIST>
                        </GSTDETAILS.LIST>
                        {% endif %}
                    </STOCKITEM>
                </TALLYMESSAGE>
                {% endfor %}
            </REQUESTDATA>
        </IMPORTDATA>
    </BODY>
</ENVELOPE>
