<ENVELOPE>
    <HEADER>
        <VERSION>1</VERSION>
        <TALLYREQUEST>Export</TALLYREQUEST>
        <TYPE>Data</TYPE>
        <ID>MyTallyLiveReport</ID>
    </HEADER>
    <BODY>
        <DESC>
            <STATICVARIABLES>
                <SVEXPORTFORMAT>$$SysName:XML</SVEXPORTFORMAT>
                <SVFROMDATE>{{ fromDate | formatDate("d-MMM-yyyy") }}</SVFROMDATE>
                <SVTODATE>{{ toDate | formatDate("d-MMM-yyyy") }}</SVTODATE>
                {% if targetCompany %}
                <SVCURRENTCOMPANY>{{ targetCompany | escape }}</SVCURRENTCOMPANY>
                {% endif %}
            </STATICVARIABLES>
            <TDL>
                <TDLMESSAGE>
                    <REPORT NAME="MyTallyLiveReport">
                        <FORMS>MyForm</FORMS>
                    </REPORT>
                    <FORM NAME="MyForm">
                        <PARTS>MyPart01</PARTS>
                        <XMLTAG>DATA</XMLTAG>
                    </FORM>
                    <PART NAME="MyPart01">
                        <LINES>MyLine01</LINES>
                        <REPEAT>MyLine01 : MyBills</REPEAT>
                        <SCROLLED>Vertical</SCROLLED>
                    </PART>
                    <LINE NAME="MyLine01">
                        <FIELDS>FldGuid,FldLedgerName,FldBillName,FldBillType,FldAmount</FIELDS>
                        <XMLTAG>ROW</XMLTAG>
                    </LINE>
                    <FIELD NAME="FldGuid">
                        <SET>$BillVchGuid</SET>
                        <XMLTAG>guid</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldLedgerName">
                        <SET>$BillLedgerName</SET>
                        <XMLTAG>ledger_name</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldBillName">
                        <SET>$Name</SET>
                        <XMLTAG>bill_name</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldBillType">
                        <SET>$BillType</SET>
                        <XMLTAG>bill_type</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldAmount">
                        <SET>$$StringFindAndReplace:(if $$IsDebit:$Amount then -$$NumValue:$Amount else $$NumValue:$Amount):"(-)":"-"</SET>
                        <XMLTAG>amount</XMLTAG>
                    </FIELD>
                    <COLLECTION NAME="MyVouchers">
                        <TYPE>Voucher</TYPE>
                        <FETCH>AllLedgerEntries</FETCH>
                        <FILTER>FilterVoucherGuid</FILTER>
                    </COLLECTION>
                    <COLLECTION NAME="MyEntries">
                        <SOURCECOLLECTION>MyVouchers</SOURCECOLLECTION>
                        <WALK>AllLedgerEntries</WALK>
                        <COMPUTE>VchGuid : $..Guid</COMPUTE>
                        <COMPUTE>EntryLedgerName : $LedgerName</COMPUTE>
                    </COLLECTION>
                    <COLLECTION NAME="MyBills">
                        <SOURCECOLLECTION>MyEntries</SOURCECOLLECTION>
                        <WALK>BillAllocations</WALK>
                        <COMPUTE>BillVchGuid : $..VchGuid</COMPUTE>
                        <COMPUTE>BillLedgerName : $..EntryLedgerName</COMPUTE>
                    </COLLECTION>
                    <SYSTEM TYPE="Formulae" NAME="FilterVoucherGuid">$$IsEqual:$Guid:"{{ voucherGuid }}"</SYSTEM>
                </TDLMESSAGE>
            </TDL>
        </DESC>
    </BODY>
</ENVELOPE>
